.button1 {
    position: center;
    width: 100%;
    max-width: 1024px;
}
.button1 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(247, 226, 226, 0.88);
    color: black;
    font-size: 119px;
    padding: 18px 32px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.button1 .btn:hover {
    background-color: rgba(0, 0, 0, 0.88);
    color: white;
}
